.card{
    background-color: rgb(216, 216, 216);
}
label{
    color: white;
}
body {
	font-size: 16px;
	font-family: 'Raleway', sans-serif;
	background: #080030;
	color:#fff;
}

.cerrar{
    text-align: right;
}

* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}



a {
	text-decoration: none;
	color:#B8711B;
}

a:hover {
	text-decoration: underline;
}

.contenedor {
	max-width: 500px;
	width: 90%;
	margin: auto;
}

.titulo {
	font-weight: 300;
	color: #B8711B;
	text-align: center;
	margin: 60px 0 30px 0;
}

.border {
	border:none;
	margin-bottom: 5px; 
	border-top:10px solid #B8711B;
	background: none;
	color:none;
}

/*Panel de control*/
.btn.btn-primary.btn-lg.active{
	background: #679863;
	padding: 60px;
	width: 400px;
	margin: 20px;

}

.btn.btn-primary.btn-lg.active:hover{
	background: #23027c;
}



/*Formulario de audio*/
.formulario {
	background: #2C2C47;
	padding: 30px;
	margin-bottom: 30px;
}

.formulario.audio{
	background: #2C2C47;
	padding: 30px;
	margin-bottom: 30px;
	width: 400px;
}

.formulario .form-group {
	width: 100%;
	margin-bottom: 10px;
}

.formulario input[type="text"],
.formulario input[type="password"] {
	padding: 15px;
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	line-height: 18px;
	border: none;
	vertical-align: top;
}

.formulario .icono {
	padding: 15px;
	text-align: center;
	width: 48px;
	max-height: 48px;
	font-size: 18px;
	line-height: 18px;
	background: #c8c8c8;
	display: inline-block;
	color:#6b6b6b;
	vertical-align: top;
}

.formulario .icono.izquierda {
	margin-right: 4px;
	-webkit-border-radius: 3px 0 0 3px;
	-moz-border-radius: 3px 0 0 3px;
	-ms-border-radius: 3px 0 0 3px;
	-o-border-radius: 3px 0 0 3px;
	border-radius: 3px 0 0 3px;
}



.formulario .usuario,
.formulario .password {
	width: calc(100% - 52px);
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	-ms-border-radius: 0 3px 3px 0;
	-o-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}

.formulario .password_btn {
	width: calc(100% - 105px);
}

.formulario .error ul {
	padding: 0 15px;
}

.formulario .error ul li {
	margin-bottom: 10px;	
}

.formulario .submit-btn {
	padding: 15px;
	text-align: center;
	width: 48px;
	max-height: 48px;
	font-size: 18px;
	line-height: 18px;
	background: #679863;
	display: inline-block;
	color:#fff;
	background: #769766;
	cursor:pointer;

	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	-ms-border-radius: 0 3px 3px 0;
	-o-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;
}

#cita_bloque, #serie_2{
border-color: #3299bb;
border-style: solid;
border-radius: 10px;
}

/* Formulario de nuevo usuario*/
.texto-registrate {
	text-align: center;
}

.texto-registrate a {
	display: block;
	font-size: 10px;
}


/*Tabla de exploración */

table{
	font-size: 14px;
	padding-left: 0%;
}

 .sticky{
	position: sticky;
	top: 0%;
}

th{
	width: 20px;
}

td{
	width: 20px;
}

/*paginación*/
.paginacion ul {
	list-style: none;
}

.paginacion ul li {
	display: inline-block;
	margin-right: 10px; 
}

.paginacion ul .active a {
	background: #679863;

}


.paginacion ul .disabled {
	background: #c8c8c8;
	display: inline-block;
	font-family: "Oswald", Arial, helvetica, sans-serif;
	padding: 15px 20px;
	cursor:not-allowed;
	color:#fff;
	text-decoration: none;
}

.paginacion ul li a {
	display: inline-block;
	font-family: "Oswald", Arial, helvetica, sans-serif;
	padding: 15px 20px;
	background: #424242;
	color:#fff;
	text-decoration: none;
}

.paginacion ul li a:hover {
	text-decoration: none;
	background: #23027c;

}